<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 缓存 -->
    	<setting name="cacheEnabled" value="true" />
    	<!-- INSERT时 为NULL处理 -->
    	<setting name="jdbcTypeForNull" value="NULL" /> 
    </settings>
    
    <!-- 设置别名 -->
    <typeAliases>
        <package name="com.parkson.erp.*.dao" />
    </typeAliases>
    
    
</configuration>